.main-header {
  background-color: var(--contrast-color);
  padding-block: 15px;

  justify-content: space-between;
  align-items: center;

  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: 960px) {
    flex-direction: row;
    gap: 100px;
  }
}

.main-logo {
  width: 150px;
  margin-left: 15px;
  transition: filter 0.3s ease;

  &:hover {
    cursor: pointer;
    filter: brightness(70%);
  }
}

.menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.active {
  color: var(--accent-color);
}

.icon-theme {
  font-size: 30px;
  cursor: pointer;

  &:hover {
    color: var(--accent-color);
  }
}
