<header class="main-header main-padding">
  <img class="main-logo" src="assets/images/brand/marca_rodrigo_vieira_principal-horizontal.png" alt="Angular"
    [routerLink]="['/home']">
  <!-- <a [routerLink]="['/home']"> RODRIGO VIEIRA </a> -->
  <ul class="menu-list">
    <li>
      <a [routerLink]="['/home']" routerLinkActive="active">início</a>
    </li>
    <li >
      <a [routerLink]="['/about']" routerLinkActive="active">sobre</a>
    </li>
    <li>
      <a [routerLink]="['/projects']" routerLinkActive="active">projetos</a>
    </li>
    <li>
      <a [routerLink]="['/contact']" routerLinkActive="active">contato</a>
    </li>
  </ul>
  <ul class="menu-list">
    <li>
      <a href="{{linkedinLink}}" target="_blank"><fa-icon [icon]="['fab', 'linkedin']" size="xl"></fa-icon></a>
    </li>
    <li>
      <a href="{{githubLink}}" target="_blank"><fa-icon [icon]="['fab', 'github']" size="xl"></fa-icon></a>
    </li>
    <li>
      <a href="{{whastappLink}}" target="_blank"><fa-icon [icon]="['fab', 'whatsapp']" size="xl"></fa-icon></a>
    </li>
  </ul>
</header>
