<footer class="p-5 flex flex-col items-center bg-bkgSecundary gap-5 sm:flex-row sm:justify-around sm:h-[100px]">
  <p>© 2023 Rodrigo Vieira Lima</p>
  <div class="sm:hidden border-t border-gray-300 h-0 w-full"></div>
  <ul class="flex flex-col items-center gap-3 sm:flex-row sm:gap-8">
    <li class="cursor-pointer hover:text-primaryLight duration-500">
      sobre
    </li>
    <li class="cursor-pointer hover:text-primaryLight duration-500">
      projetos
    </li>
    <li class="cursor-pointer hover:text-primaryLight duration-500">
      contato
    </li>
  </ul>
</footer>
