<main class="card-container">
  <img class="card-container__image" [src]="entity.image" alt="LIPCAT">
  <span class="card-container__title">{{entity.name}}</span>
  <p class="card-container__description">
    {{entity.description}}
  </p>
  <section class="card-container__technologies">
    <div *ngFor="let technology of entity.technologies">
      <div class="logo">
        <img [src]="technology.path" alt="technology.name">
        <div class="popup">technology.name</div>
      </div>
    </div>
  </section>
  <section class="card-container__links">
    <a [href]="entity.site" target="_blank" *ngIf="!!entity.site">
      Link do site
      <fa-icon class="shared-icon" [icon]="['fas', 'arrow-up-right-from-square']"></fa-icon>
    </a>
    <a [href]="entity.github" target="_blank" *ngIf="!!entity.github">
      Link do projeto
      <fa-icon class="shared-icon" [icon]="['fas', 'arrow-up-right-from-square']"></fa-icon>
    </a>
    <a [href]="entity.docs" target="_blank" *ngIf="!!entity.docs">
      Link da documentação
      <fa-icon class="shared-icon" [icon]="['fas', 'arrow-up-right-from-square']"></fa-icon>
    </a>
  </section>
</main>
