.card-container {
  display: grid;
  grid-template-rows: 3fr 1fr 3fr 1fr 2fr;
  justify-content: space-between;
  gap: 10px;
  height: 530px;
  max-width: 440px;
  background-color: var(--main-theme-color);
  box-shadow: var(--box-shadow);

  &__image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  &__title {
    text-align: center;
    align-self: center;
    font-size: 22px;
    font-weight: 700;
  }

  &__description {
    padding: 10px;
    text-align: justify;
    margin-inline: 15px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: var(--background-scrollbar-color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--secundary-color);
      border-radius: 20px;
    }
  }

  &__technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .popup {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      color: var(--main-theme-color);
      padding: 5px 10px;
      border-radius: 5px;
      white-space: nowrap;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      font-size: 16px;
    }

    .logo {
      &:hover {
        .popup {
          display: block;
          opacity: 1;
        }
      }
    }

    img {
      width: 30px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-inline: 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    align-self: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__open-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-inline: 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    align-self: center;
    font-size: 22px;

    &:hover {
      cursor: pointer;
    }
  }
}

.shared-icon {
  margin-left: 5px;
}
