<main class="card-container">
  <img class="card-container__image" [src]="entity.pathImage" [alt]="entity.name">
  <span class="card-container__title">{{entity.name}}</span>
  <p class="card-container__description">
    {{entity.resume}}
  </p>
  <section class="card-container__technologies">
    <div *ngFor="let technology of entity.technologies">
      <div class="logo">
        <img [src]="technology.path" alt="technology.name">
        <div class="popup">{{technology.name}}</div>
      </div>
    </div>
  </section>
  <section class="card-container__open-modal">
    <a (click)="toggleModal()">Ver mais</a>
    <app-modal [entity]="entity" [showModal]="showModal" (toggleModal)="toggleModal()"></app-modal>
  </section>
</main>
