<header class="main-header">
  <a [routerLink]="['/home']"> RODRIGO LIMA </a>
  <ul class="menu-list">
    <li routerLinkActive="active">
      <a [routerLink]="['/about']">sobre</a>
    </li>
    <li routerLinkActive="active">
      <a href="#">projetos</a>
    </li>
    <li routerLinkActive="active">
      <a href="#">contato</a>
    </li>
  </ul>
  <ul class="menu-list">
    <li>
      <a href="{{linkedinLink}}" target="_blank"><fa-icon [icon]="['fab', 'linkedin']" size="xl"></fa-icon></a>
    </li>
    <li>
      <a href="{{githubLink}}" target="_blank"><fa-icon [icon]="['fab', 'github']" size="xl"></fa-icon></a>
    </li>
    <li>
      <a href="{{whastappLink}}" target="_blank"><fa-icon [icon]="['fab', 'whatsapp']" size="xl"></fa-icon></a>
    </li>
  </ul>
</header>
