<main class="main-contact main-padding background-page">
  <section>
    <article class="title-container">
      <h1 class="title-container__title">Contato</h1>
      <p class="title-container__main-description">
        Entre em contato comigo. Preencha os campos abaixo e envie um e-mail diretamente para mim.
      </p>
    </article>
    <article class="body-contact">
      <form class="body-contact__form" [formGroup]="contactForm" (ngSubmit)="sendEmail()">
        <div class="body-contact__form--row">
          <div class="field">
            <!-- <label class="label-hidden" ngClass="">Nome</label> -->
            <input id="name" class="input" type="text" formControlName="name" placeholder="Nome" [readonly]="isLoading"
              required />
          </div>
        </div>
        <div class="body-contact__form--row">
          <div class="field">
            <input id="email" class="input" type="email" formControlName="email" placeholder="Email"
              [readonly]="isLoading" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required />
          </div>
        </div>
        <div class="body-contact__form--row">
          <div class="field">
            <input id="subject" class="input" type="text" formControlName="subject" placeholder="Assunto"
              [readonly]="isLoading" required />
          </div>
        </div>
        <div class="body-contact__form--row">
          <div class="field">
            <textarea id="message" class="input" formControlName="message" cols="30" rows="10"
              placeholder="Escreva seu email" [readonly]="isLoading" required></textarea>
          </div>
        </div>
        <input type="hidden" [value]="staticFormsKey" formControlName="accessKey">

        <button type="submit" [disabled]="!contactForm.valid || isLoading">
          Enviar <fa-icon class="no-theme-transition" [icon]="['fas', 'paper-plane']"></fa-icon>
        </button>

      </form>
      <section class="body-contact__social-media">
        <p>Ou entre em contato através de alguma das redes sociais</p>
        <ul class="body-contact__social-media--menu-list">
          <li>
            <a href="{{linkedinLink}}" target="_blank"><fa-icon class="no-theme-transition" [icon]="['fab', 'linkedin']"
                size="xl"></fa-icon></a>
          </li>
          <li>
            <a href="{{whastappLink}}" target="_blank"><fa-icon class="no-theme-transition" [icon]="['fab', 'whatsapp']"
                size="xl"></fa-icon></a>
          </li>
        </ul>
      </section>
    </article>
  </section>
</main>
