.main-contact {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: justify;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  &__main-description {
    text-align: center;
    font-size: 18px;
  }
}

.body-contact {
  display: flex;
  flex-direction: column;
  margin-block: 15px;
  padding: 20px;
  background-color: var(--main-theme-color);
  box-shadow: var(--box-shadow);
  font-size: 22px;

  @media (min-width: 880px) {
    flex-direction: row;
    justify-content: space-around;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    &--row {
      display: flex;
      flex-direction: row;
      gap: 15px;
      font-weight: 700;
    }

    .field {
      display: flex;
      flex-direction: column;
    }

    label {
      font-size: 16px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      transform: translateY(-10px);
    }

    label.focused {
      opacity: 1;
      transform: translateY(0);
    }

    .input {
      border: 0;
      background-color: var(--input-color);
      margin-block: 10px;
      font-size: 14px;
      padding-inline: 15px;
      transition: all 0.5s;
      font-family: 'Roboto', sans-serif;
      color: var(--black-color);

      &:focus {
        box-shadow: 5px 5px 10px var(--shadow-color);
        outline: none;
      }

      @media (min-width: 880px) {
        width: 30vw;
      }
    }

    input {
      width: 50vw;
      height: 40px;
    }

    textarea {
      width: 50vw;
      height: 100px;
      padding-top: 10px;
    }

    button {
      width: 32vw;
      height: 35px;
      border: unset;
      color: var(--primary-color);
      font-weight: 700;
      font-size: 18px;
      box-shadow: var(--box-shadow);
      transition: all 500ms;

      &:hover {
        color: var(--white-color);
        background-color: var(--primary-color);
        cursor: pointer;
      }

      &:disabled {
        color: var(--text-block-color);
        background-color: var(--block-color);
        box-shadow: none;
        cursor: default;
      }
    }
  }

  &__social-media {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-inline: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &--menu-list {
      display: flex;
      gap: 15px;
    }

    p {
      font-weight: 700;
      text-align: center;
    }
  }
}
