<main class="main-contact main-padding">
  <section>
    <article class="title-container">
      <h1 class="title-container__title">Contato</h1>
      <p class="title-container__main-description">
        Entre em contato comigo! Preencha os campos abaixo e envie um e-mail diretamente para mim.
      </p>
    </article>
    <article class="body-contact">
      <form class="body-contact__form" [formGroup]="contactForm" (ngSubmit)="sendEmail()">
        <div class="body-contact__form--row">
          <div class="field">
            <label>Nome *</label>
            <input id="name" type="text" formControlName="name" placeholder="Informe..." required />
          </div>
        </div>
        <div class="body-contact__form--row">
          <div class="field">
            <label>E-mail *</label>
            <input id="email" type="email" formControlName="email" placeholder="Informe..." required />
          </div>
        </div>
        <div class="body-contact__form--row">
          <div class="field">
            <label>Assunto *</label>
            <input id="subject" type="text" formControlName="subject" placeholder="Informe..." required />
          </div>
        </div>
        <div class="body-contact__form--row">
          <div class="field">
            <label>Mensagem *</label>
            <textarea id="message" formControlName="message" cols="30" rows="10" placeholder="Escreva..."
              required></textarea>
          </div>
        </div>
        <input type="hidden" [value]="staticFormsKey" formControlName="accessKey">
        <!-- <input type="text" name="honeypot" style="display: none;"> -->
        <!-- <input type="hidden" name="redirectTo" value="http://rodrigovieira.vercel.app/contact/success"> -->

        <button type="submit" [disabled]="!contactForm.valid">ENVIAR</button>

      </form>
      <section class="body-contact__social-media">
        <p>Ou entre em contato através de alguma das redes sociais</p>
        <ul class="body-contact__social-media--menu-list">
          <li>
            <a href="{{linkedinLink}}" target="_blank"><fa-icon [icon]="['fab', 'linkedin']" size="xl"></fa-icon></a>
          </li>
          <li>
            <a href="{{whastappLink}}" target="_blank"><fa-icon [icon]="['fab', 'whatsapp']" size="xl"></fa-icon></a>
          </li>
        </ul>
      </section>
    </article>
  </section>
</main>
