.main-contact {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: justify;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  &__main-description {
    text-align: center;
    font-size: 18px;
  }
}

.body-contact {
  display: flex;
  flex-direction: column;
  margin-block: 15px;
  padding: 20px;
  background-color: var(--main-theme-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  font-size: 22px;

  @media (min-width: 880px) {
    flex-direction: row;
    justify-content: space-around;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    &--row {
      display: flex;
      flex-direction: row;
      gap: 15px;
      font-weight: 700;
    }

    .field {
      display: flex;
      flex-direction: column;
    }

    label {
      font-size: 16px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      transform: translateY(-10px);
    }

    label.focused {
      opacity: 1;
      transform: translateY(0);
    }

    .input {
      border: 0;
      background-color: var(--background-color);
      margin-block: 10px;
      font-size: 14px;
      padding-inline: 15px;
      transition: all 0.5s;
      font-family: 'Roboto', sans-serif;
      color: var(--contrast-color);

      &:focus {
        box-shadow: 5px 5px 10px var(--shadow-color);
        outline: none;
      }

      @media (min-width: 880px) {
        width: 30vw;
      }
    }

    input {
      height: 40px;
    }

    textarea {
      width: 50vw;
      height: 100px;
      padding-top: 10px;
    }

    button {
      width: 32vw;
      height: 35px;
      border: unset;
      border-radius: 15px;
      color: var(--primary-color);
      z-index: 1;
      background: var(--main-theme-color);
      position: relative;
      font-weight: 1000;
      font-size: 17px;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      transition: all 250ms;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 15px;
        background-color: var(--primary-color);
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        transition: all 250ms
      }

      &:hover {
        color: var(--main-theme-color);
        cursor: pointer;
      }

      &:hover::before {
        width: 100%;
      }

      &:disabled {
        background: var(--block-color);
        color: var(--text-block-color);
        cursor: default;
        box-shadow: none;
      }

      &:disabled::before {
        content: none;
      }
    }
  }

  &__social-media {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-inline: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &--menu-list {
      display: flex;
      gap: 15px;
    }

    p {
      font-weight: 700;
      text-align: center;
    }
  }
}
