<main class="main-contact main-padding background-page">
  <section>
    <article class="title-container">
      <h1 class="title-container__title">Email enviado com sucesso!</h1>
    </article>
    <article class="body-success">
      <fa-icon class="body-success__check-icon" [icon]="['far', 'circle-check']"></fa-icon>
      <p class="body-success__description">Email recebido com sucesso!</p>
      <p class="body-success__description">Verique sua caixa de email que já deixei uma resposta para você! 😉</p>
      <app-divider />
      <p>E sinta-se a vontade para falar comigo através de outras plataformas:</p>
      <ul class="body-success__menu-list">
        <li>
          <a href="{{linkedinLink}}" target="_blank"><fa-icon class="no-theme-transition" [icon]="['fab', 'linkedin']"
              size="xl"></fa-icon></a>
        </li>
        <li>
          <a href="{{whastappLink}}" target="_blank"><fa-icon class="no-theme-transition" [icon]="['fab', 'whatsapp']"
              size="xl"></fa-icon></a>
        </li>
      </ul>
    </article>
  </section>
</main>
