<main class="py-5 px-[10%] flex flex-col">
  <section class="flex flex-col font-bold">
    <p class="text-center text-[22px]">
      Olá, seja bem-vindo! 👋<br> Me chamo Rodrigo Vieira Lima e sou um
    <p>
    <div class="mt-5 flex flex-col lg:flex-row md:justify-between">
      <h1 class="text-center text-[50px] sm:text-[60px] md:text-[70px] md:text-start lg:text-[80px]">
        Desenvolvedor <br>
        Frontend
      </h1>

    </div>
    <div class="pt-5 flex flex-row flex-wrap justify-center items-center gap-6">
      <img src="assets/images/angularLogo.png" class="w-[50px] sm:w-[70px] md:-w-[90px] md:w-[80px] lg:w-[90px]">
      <img src="assets/images/reactLogo.png" class="w-[50px] sm:w-[70px] md:w-[80px] lg:w-[90px]">
      <img src="assets/images/nextJSLogo.png" class="w-[50px] sm:w-[70px] md:w-[80px] lg:w-[90px]">
      <img src="assets/images/typescriptLogo.png" class="w-[50px] sm:w-[70px] md:w-[80px] lg:w-[90px]">
    </div>
  </section>
  <section class="hidden flex flex-col items-center md:flex-row md:items-start">
    <div class="w-[50%] h-[300px] border border-black"></div>
    <article class="flex flex-col ml-5 w-[50%]">
      <p class="my-2">
        Tenho 28 anos, estou há mais de 4 anos no mercado de trabalho,
        possuindo experiência corporativa como desenvolvedor frontend
        AngularJS e desenvolvedor mobile Flutter por mais de 2 anos.
      </p>
      <p class="my-2">
        Além disso, possuo experiência com projetos freelancers e
        pessoais utilizando React com NextJS 13 e Angular 16.
      </p>
      <p class="my-2">
        Por fim, sou graduado em Análise e desenvolvimento de sistemas pela
        FAETERJ-Rio desde 2022, onde pode desenvolver meu projeto de conclusão de
        curso utilizando Flutter com Firebase, adquirindo mais experências mobile.
      </p>
    </article>
  </section>
</main>
