<section class="experiences-container"
  [ngClass]="{'padding-left': entityIndex === 0, 'padding-right': entityIndex === (entities.length - 1)}"
  [@slideInOut]="entityIndex">
  <span class="arrow-button" *ngIf="entityIndex !== 0" (click)="goToExperience(entityIndex - 1)">
    <a>
      <fa-icon class="no-theme-transition arrow" [icon]="['fas', 'chevron-left']"></fa-icon>
    </a>
  </span>
  <article class="experiences-container__description">
    <header class="experiences-container__description--header">
      <div class="title">
        <h1>{{entities[entityIndex] && entities[entityIndex].role}}</h1>
        <p>{{entities[entityIndex] && entities[entityIndex].period}}</p>
      </div>
      <div class="enterprise">
        <img [src]="entities[entityIndex] && entities[entityIndex].enterprisePathLogo" alt="enterprise logo">
        <p>{{entities[entityIndex] && entities[entityIndex].enterprise}}</p>
      </div>
    </header>
    <span class="experiences-container__description--technologies">
      <div class="primary-logo">
        <div *ngFor="let logo of entities[entityIndex] && entities[entityIndex].technologies.primary">
          <div class="logo">
            <img [src]="logo.path" [alt]="logo.name">
            <div class="popup">{{logo.name}}</div>
          </div>
        </div>
      </div>
      <div class="secondary-logo">
        <div *ngFor="let logo of entities[entityIndex] && entities[entityIndex].technologies.secondary">
          <div class="logo">
            <img [src]="logo.path" [alt]="logo.name">
            <div class="popup">{{logo.name}}</div>
          </div>
        </div>
      </div>
    </span>
    <main class="experiences-container__description--body"
      [innerHTML]="entities[entityIndex] && entities[entityIndex].description"></main>
    <footer class="experiences-container__description--footer">
      <div *ngFor="let entityDot of entities; let i = index">
        <a (click)="goToExperience(i)">
          <fa-icon [icon]="['far', 'circle']" *ngIf="entityIndex !== i"></fa-icon>
        </a>
        <fa-icon [icon]="['far', 'circle-dot']" *ngIf="entityIndex === i"></fa-icon>
      </div>
    </footer>
  </article>
  <span class="arrow-button" *ngIf="entityIndex !== (entities.length - 1)" (click)="goToExperience(entityIndex + 1)">
    <a>
      <fa-icon class="no-theme-transition arrow" [icon]="['fas', 'chevron-right']"></fa-icon>
    </a>
  </span>
</section>
