.main-about {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  &__main-description {
    text-align: center;
    font-size: 18px;
  }
}

.body-about {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-top: 15px;
  padding: 20px;
  background-color: var(--main-theme-color);
  box-shadow: var(--box-shadow);
}

.subtitle {
  font-size: 22px;
  font-weight: 700;
}

.description {
  margin-bottom: 5px;
}
