<main class="main-about main-padding background-page">
  <section>
    <article class="title-container">
      <h1 class="title-container__title">Sobre mim</h1>
      <p class="title-container__main-description">
        Já que chegou até aqui, é hora de mostrar algumas de minhas características e habilidades mais relevantes de
        forma
        detalhada. Irei apresentá-las a seguir.
      </p>
    </article>
    <article class="body-about">
      <h3 class="subtitle">Regras de negócio</h3>
      <p class="description">
        Dentro de todo o meu tempo e experiência profissional, notei e absorvi toda a importância do entendimento das
        regras
        de negócio do sistema. Tenho habilidade em compreender o que clientes, liderança e o time de negócio têm como
        objetivos em cada novo projeto. Especializei-me na especificação detalhada de tarefas, analisando o tempo para
        desenvolvimento e as necessidades para que as metas sejam atingidas da melhor forma. Além disso, trabalhei com o
        modelo de OKRs trimestrais, onde sempre foquei nas entregas para os objetivos e resultados propostos.
      </p>
      <h3 class="subtitle">Engenharia de software</h3>
      <p class="description">
        Tenho boa experiência em engenharia de software, utilizando tecnologias como AngularJS, Typescript, React,
        NextJS
        e Flutter. Meu projeto final na FAETERJ-Rio, um aplicativo de controle financeiro pessoal, destaca minhas
        habilidades em desenvolvimento e implementação de soluções técnicas robustas, onde apresentei a entrega de toda
        uma
        especificação detalhada dentro de um planejamento sólido com acompanhamento direto de professores experientes da
        área de tecnologia.
      </p>
      <h3 class="subtitle">Metodologias Ágeis</h3>
      <p class="description">
        Durante minha experiência profissional, trabalhei sempre com metodologias ágeis, que utilizei para garantir a
        entrega eficiente de projetos. Minha prática envolve sprints bem definidas, comunicação constante com a equipe e
        adaptação rápida às mudanças de requisitos, sempre focando na entrega de valor contínua.
      </p>
      <h3 class="subtitle">Habilidades Interpessoais</h3>
      <p class="description">
        Tenho uma forte habilidade para resolver problemas e sou conhecido por minha atenção aos detalhes e capacidade
        de
        aprender rapidamente novas tecnologias e negócios. Trabalho bem em equipe, colaborando de forma eficaz para
        alcançar
        objetivos comuns. Minha experiência como freelancer também desenvolveu minha autonomia e gestão de tempo, além
        de
        aprimorar minha capacidade comunicativa.
      </p>
      <h3 class="subtitle">Interesses Pessoais</h3>
      <p class="description">
        Além da tecnologia, sou apaixonado por games (de forma geral), futebol, música e um bom café. Esses hobbies me
        ajudam a relaxar e manter o equilíbrio entre vida pessoal e profissional, proporcionando uma mente fresca e
        criativa
        para enfrentar novos desafios.
      </p>
    </article>
  </section>
</main>
