#background-video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.app-component-content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  height: 80%;

  &__hidden {
    opacity: 0;
  }

  &__show {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}
