<main class="main-experiences main-padding background-page">
  <section>
    <article class="title-container">
      <h1 class="title-container__title">Experiências profissionais</h1>
      <p class="title-container__main-description">
        Neste módulo conto um pouco sobre meus útlimos cargos e responsabilidades, dê uma conferida abaixo:
      </p>
    </article>
  </section>
  <section class="experiences-container">
    <span class="arrow-button">
      <!-- <a><fa-icon class="no-theme-transition arrow" [icon]="['fas', 'chevron-left']"></fa-icon></a> -->
    </span>
    <article class="experiences-container__description">
      <header class="experiences-container__description--header">
        <div class="title">
          <h1>Desenvolvedor Frontend</h1>
          <p>01/2022 - 05/2024</p>
        </div>

        <div class="enterprise">
          <img src="assets/images/enterprises/nasajon.png" alt="Nasajon">
          <p>Nasajon Sistemas</p>
        </div>
      </header>
      <main class="experiences-container__description--body">
        <p>
          Neste cargo atuei como desenvolvedor frontend web e mobile, desenvolvendo e prestando manutenção em aplicações
          AngularJS com Typescript, Docker e Webpack e um app Mobile utilizando Flutter com Modular, Flutter Triple,
          Clean architecture, multi repo, etc. Além disso, participei de squads em sprints planejadas de forma mensal,
          com reuniões diárias, Sprint Planning, retrospectiva e code review, sempre visando atingir metas de OKRs
          trimestrais, realizando reuniões de Grooming para traçar o melhor planejamento com a equipe.
        </p>
        <p>
          Após muito estudo na área de frontend, me aprimorando com as principais tecnologias do mercado, realizei uma
          transição de carreira para começar a desenvolver o frontend de uma Dashboard de automação de processos
          internos da empresa e de seus clientes, onde utilizei as bibliotecas de UI da empresa no meu Projeto
          AngularJS. O projeto foi um sucesso e, junto com um backend que realizava tais processos, conseguimos manter o
          sistema em produção e que roda até hoje internamente na empresa.
        </p>
        <p>
          Com a estabilidade do projeto, ingressei em um novo squad para atuar em um projeto referente a um sistema de
          RH, atuando com os módulos de entrada e saída de colaboradores. Inicialmente prestei manutenção no código
          existente e, conforme fui me habituando com as regras de negócio e funcionamento da aplicação, desenvolvi
          novas funcionalidades conforme a necessidade dos clientes e das metas trimestrais. Após evoluir as
          funcionalidades, passei a codar para todo o sistema de RH, atuando em módulos como controle de férias,
          solicitações colaboradores, cadastro de vagas, configurações da aplicação e etc.
        </p>
        <p>
          Durante minha jornada no cargo, recebi o desafio de desenvolver um POC para provar eficácia da framework
          Flutter nas aplicações já existentes, com o objetivo de começar uma troca de tecnologia, pois o AngularJS fora
          descontinuado. Desenvolvi um projeto contendo 2 módulos do aplicativo de RH, utilizando Flutter com o Modular,
          Flutter Triple e uma estrutura mono repo.
        </p>
        <p>
          Com o sucesso da POC e da decisão da empresa de iniciar novos projetos com Flutter, recebi o treinamento da
          FTeam, fornecido pela Nasajon, para ter competência de atuar nos projetos Mobile que estavam nascendo na
          empresa. Neste treinamento, aprendi recursos e técnicas avançadas da framework Flutter, como a arquitetura
          Clean Dart, lib Modular (para modularizar a aplicação), o gerenciamento de estados com Flutter Triple,
          armazenamento interno com Hive, estrutura Mono repo, técnicas de clean code, testes unitários com o Mocktail,
          etc.
        </p>
        <p>
          Com isso, atuei num aplicativo de auto admissão de colaboradores que possuía uma integração com o sistema web
          de RH. Nele, aprendi a realizar o deploy para a loja do Google Play, Apple Store e para a Web, aprimorando meu
          conhecimento no desenvolvimento mobile.
        </p>
        <p>
          Essa experiência me ajudou a me especializar em engenharia de software e a ter adaptabilidade, pois entender
          estes conceitos, me fizeram um desenvolvedor completo, e que não importa a tecnologia a ser utilizada, com
          estudos e um bom planejamento, é possível resolver todos os problemas de negócio.
        </p>
      </main>
      <span class="experiences-container__description--footer">
        <!-- <a><fa-icon class="no-theme-transition" [icon]="['far', 'circle']"></fa-icon></a> -->
        <fa-icon class="no-theme-transition" [icon]="['far', 'circle-dot']"></fa-icon>
      </span>
    </article>
    <span class="arrow-button">
      <a><fa-icon class="no-theme-transition arrow" [icon]="['fas', 'chevron-right']"></fa-icon></a>
    </span>
  </section>
</main>
