<main class="main-home main-padding">
  <section class="intro">
    <article class="welcome">
      <p> Olá, seja bem-vindo! 👋
      <p>
      <p> Me chamo Rodrigo Vieira e sou um </p>
    </article>
    <article class="frontend-developer-container">
      <h1 class="frontend-developer-container__title">
        DESENVOLVEDOR FRONTEND
      </h1>

      <div class="frontend-developer-container__technologies">
        <div class="primary-logo">
          <div class="logo">
            <img src="assets/images/logos/angularLogo.png" alt="Angular">
            <div class="popup">Angular</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/reactLogo.png" alt="React">
            <div class="popup">React</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/nextJSLogo.png" alt="NextJS">
            <div class="popup">NextJs</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/typescriptLogo.png" alt="Typescript">
            <div class="popup">Typescript</div>
          </div>
        </div>
        <div class="secundary-logo">
          <div class="logo">
            <img src="assets/images/logos/javascriptLogo.png" alt="Javascript">
            <div class="popup">Javascript</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/sassLogo.png" alt="Sass">
            <div class="popup">Sass</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/bootstrapLogo.png" alt="Bootstrap">
            <div class="popup">Bootstrap</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/tailwindLogo.png" alt="Tailwind">
            <div class="popup">Tailwind</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/gitLogo.png" alt="Git">
            <div class="popup">Git</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/githubLogo.png" alt="Github">
            <div class="popup">Github</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/webpackLogo.png" alt="Webpack">
            <div class="popup">Webpack</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/flutterLogo.png" alt="Flutter">
            <div class="popup">Flutter</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/dartLogo.png" alt="Dart">
            <div class="popup">Dart</div>
          </div>
        </div>
      </div>
    </article>
  </section>
  <section class="body-container">
    <article class="body-container__resume">
      <p>
        Sou um desenvolvedor frontend com 5 anos de experiência,
        especializado em AngularJS, Typescript, React, NextJS e
        Flutter. Trabalhei na Nasajon, desenvolvendo soluções
        para RH e automação de processos, e ganhei profundo
        conhecimento em sistemas ERP, entendendo as necessidades
        de negócio das empresas.
      </p>
      <p>
        Como freelancer, desenvolvi o frontend de um sistema para
        um laboratório de Química na UFRJ. Além disso, sou graduado
        em Análise e Desenvolvimento de Sistemas pela FAETERJ-Rio,
        onde criei um aplicativo de controle financeiro pessoal
        como projeto final (TCC).
      </p>
      <p>
        Tenho uma forte habilidade para resolver problemas, atenção
        aos detalhes e facilidade para aprender novas tecnologias.
        Adoro desafios e estou sempre buscando aprender mais.
      </p>
      <a [routerLink]="['/about']" class="see-more">Veja mais em sobre -></a>
    </article>
  </section>
</main>
