<main class="main-home main-padding background-page">
  <section class="intro">
    <article class="welcome">
      <p> Olá, seja bem-vindo! 👋
      <p>
      <p> Me chamo Rodrigo Vieira e sou um </p>
    </article>
    <article class="frontend-developer-container">
      <h1 class="frontend-developer-container__title">
        DESENVOLVEDOR <br>
        FRONTEND
      </h1>

      <section class="frontend-developer-container__technologies">
        <div class="primary-logo">
          <div *ngFor="let logo of primaryTechnologies">
            <div class="logo">
              <img [src]="logo.path" [alt]="logo.name">
              <div class="popup">{{logo.name}}</div>
            </div>
          </div>
        </div>
        <div class="secundary-logo">
          <div *ngFor="let logo of secundaryTechnologies">
            <div class="logo">
              <img [src]="logo.path" [alt]="logo.name">
              <div class="popup">{{logo.name}}</div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </section>
  <section class="body-container">
    <article class="body-container__resume">
      <p>
        Com 5 anos de experiência no mercado de TI, me especializei em
        AngularJS, Typescript, Javascript e Flutter, trabalhei por 2
        anos e meio desenvolvendo aplicações do ramo de ERP, como um
        sistema de RH e uma dashboard de automação de processos internos.
        Além de ter aprimorado meu conhecimento em Flutter, ajudando a
        desenvolver um aplicativo para autoadmissão de funcionários.
      </p>
      <p>
        Como freelancer, desenvolvi o frontend de um sistema para
        um laboratório de química da UFRJ utilizando as tecnologias
        React e NextJS. Além disso, sou graduado em Análise e
        Desenvolvimento de Sistemas pela FAETERJ-Rio, onde criei
        um aplicativo de controle financeiro pessoal como projeto
        final (TCC).
      </p>
      <p>
        Tenho uma forte habilidade para resolver problemas, atenção
        aos detalhes e facilidade para aprender novas tecnologias.
        Adoro desafios e estou sempre buscando aprender mais.
      </p>
      <a [routerLink]="['/about']" class="see-more">Veja mais em sobre</a>
    </article>
  </section>
</main>
