<main class="main-home main-padding">
  <section class="intro">
    <p class="welcome" [ngClass]="{'show': showGreetings, 'hidden': !showGreetings}">
      Olá! Me chamo Rodrigo Vieira e sou um
    </p>
    <article class="frontend-developer-container">
      <div class="frontend-developer-container__main">
        <div class="frontend-developer-container__main--title" [ngClass]="{'show': showTitle, 'hidden': !showTitle}">
          <p>DESENVOLVEDOR</p>
          <p>FRONTEND</p>
        </div>
        <div class="frontend-developer-container__main--avatar" [ngClass]="{'show': showTitle, 'hidden': !showTitle}">
          <img src="assets/images/personal/avatar.png" alt="Rodrigo Vieira">
        </div>
        <div class="frontend-developer-container__main--resume" [ngClass]="{'show': showAll, 'hidden': !showAll}">
          <p>Apaixonado por criar interfaces web e mobile modernas e intuitivas com as tecnologias mais utilizadas do
            mercado. <br>
            Explore meu portfólio e conheça meu trabalho!
          </p>
        </div>
      </div>
      <section class="frontend-developer-container__technologies" [ngClass]="{'show': showAll, 'hidden': !showAll}">
        <div class="primary-logo">
          <div *ngFor="let logo of primaryTechnologies">
            <div class="logo">
              <img [src]="logo.path" [alt]="logo.name">
              <div class="popup">{{logo.name}}</div>
            </div>
          </div>
        </div>
        <div class="secondary-logo">
          <div *ngFor="let logo of secondaryTechnologies">
            <div class="logo">
              <img [src]="logo.path" [alt]="logo.name">
              <div class="popup">{{logo.name}}</div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </section>
  <section class="body-container" [ngClass]="{'show': showAll, 'hidden': !showAll}">
    <article class="body-container__resume">
      <p>
        Com 5 anos de experiência profissional na área de tecnologia em uma empresa de sistemas de ERP, onde me dediquei
        por volta de 3 anos como desenvolvedor frontend, utilizando as tecnologias AngularJS, Typescript, Javascript
        HTML e CSS, além de também ter trabalhado com tecnologias mobile como Flutter, utilizando testes unitários,
        estrutura multirepo e arquitetura limpa.
      </p>
      <p>
        Tenho experiência também com Angular 14+ e ReactJS com NextJS, onde desenvolvi projetos a parte com o uso dessas
        tecnologias.
      </p>
      <p>
        Sou formado em Análise e desenvolvimento de sistemas na FAETERJ-Rio desde 2022.
      </p>
      <a [routerLink]="['/about']" class="see-more">Veja mais em sobre</a>
    </article>
  </section>
</main>
