.main-home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
  padding-top: 30px;
  padding-bottom: 1.25rem;
}

.intro {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 15px;
}

.welcome {
  gap: 5px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;

  b {
    font-weight: 700;
  }
}

.frontend-developer-container {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  justify-content: center;
  align-items: center;

  @media (min-width: 400px) {
    font-size: 30px;
  }

  @media (min-width: 640px) {
    font-size: 40px;
  }

  @media (min-width: 960px) {
    font-size: 50px;
  }

  @media (min-width: 1024px) {
    font-size: 60px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;

    &--title {
      font-family: 'moon_get', sans-serif;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &--avatar {
      margin-top: 5px;

      img {
        width: 200px;
        border-radius: 100px;
        border: 2px solid var(--contrast-color);
      }
    }

    &--resume {
      font-size: 16px;
      word-wrap: break-word;

      @media (min-width: 600px) {
        font-size: 18px;
      }
    }
  }

  &__technologies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-inline: 15px;

    .popup {
      position: absolute;
      background-color: var(--popup-color);
      color: var(--main-theme-color);
      padding: 5px 10px;
      border-radius: 5px;
      white-space: nowrap;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      font-size: 16px;
    }

    .logo {
      &:hover {
        .popup {
          display: block;
          opacity: 1;
        }
      }
    }

    .primary-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .logo {
        margin-inline: 15px;
        margin-bottom: 10px;
      }

      img {
        width: 40px;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }

        @media (min-width: 640px) {
          width: 45px;
        }

        @media (min-width: 768px) {
          width: 50px;
        }

        @media (min-width: 1024px) {
          width: 55px;
        }

        @media (min-width: 1280px) {
          width: 60px;
        }
      }
    }

    .secundary-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 25px;
      row-gap: 5px;

      img {
        width: 25px;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }

        @media (min-width: 640px) {
          width: 28px;
        }

        @media (min-width: 768px) {
          width: 30px;
        }

        @media (min-width: 1024px) {
          width: 35px;
        }

        @media (min-width: 1280px) {
          width: 40px;
        }
      }
    }
  }

}

.body-container {
  background-color: var(--main-theme-color);
  padding: 20px;
  box-shadow: var(--box-shadow);
  text-align: center;

  &__resume {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
  }
}

.see-more {
  margin-top: 20px;
  font-weight: 700;
}
