<main class="main-projects main-padding">
  <section>
    <article class="title-container">
      <h1 class="title-container__title">Meus projetos</h1>
      <p class="title-container__main-description">
        Abaixo seguem os projetos que criei, clique em algum para mais detalhes.
      </p>
    </article>
    <article class="body-projects">
      <main class="card-container">
        <img class="card-container__image" src="assets/images/projects/lipcat.png" alt="LIPCAT">
        <span class="card-container__title">LIPCAT</span>
        <p class="card-container__description">
          Um sistema de uma laboratório de química da UFRJ que contém uma landing page e um sistema intranet, que
          possibilita alunos e professores a gerenciarem o conteúdo presente nas telas visíveis para o publico geral,
          além de controle disponibilidade de conteúdo interno.
        </p>
        <span class="card-container__technologies">
          <div class="logo">
            <img src="assets/images/logos/reactLogo.png" alt="React">
            <div class="popup">React</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/nextJSLogo.png" alt="NextJS">
            <div class="popup">NextJS</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/typescriptLogo.png" alt="Typescript">
            <div class="popup">Typescript</div>
          </div>
        </span>
        <a class="card-container__see-more">Ver mais</a>
      </main>
      <main class="card-container">
        <img class="card-container__image" src="assets/images/projects/meudinheiro.png" alt="Meu dinheiro">
        <span class="card-container__title">Meu dinheiro</span>
        <p class="card-container__description">
          Um aplicativo mobile que tem como objetivo auxiliar o gerenciamento financeiro pessoal, possibilitando o
          cadastro de entrada e saída de dinheiro, personalização de categorias, adição de cartões e visualização de
          gráficos.
        </p>
        <span class="card-container__technologies">
          <div class="logo">
            <img src="assets/images/logos/flutterLogo.png" alt="Flutter">
            <div class="popup">Flutter</div>
          </div>
          <div class="logo">
            <img src="assets/images/logos/dartLogo.png" alt="Dart">
            <div class="popup">Dart</div>
          </div>
        </span>
        <a class="card-container__see-more">Ver mais</a>
      </main>
    </article>
  </section>
</main>
