<main class="main-projects main-padding background-page">
  <section>
    <article class="title-container">
      <h1 class="title-container__title">Meus projetos</h1>
      <p class="title-container__main-description">
        Abaixo seguem os projetos que criei, clique em algum para mais detalhes.
      </p>
    </article>
    <article class="body-projects">
      <section *ngFor="let entity of entities">
        <app-project-card [entity]="entity" />
      </section>
    </article>
  </section>
</main>
