.main-projects {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: justify;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  &__main-description {
    text-align: center;
    font-size: 18px;
  }
}

.body-projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;

  margin-top: 15px;
  padding: 20px;

  @media (min-width: 820px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1140px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1500px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
