a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--accent-color);
}

ul,
ol {
  list-style: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  background-color: var(--contrast-color);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-padding {
  padding-left: 10%;
  padding-right: 10%;
}

:root {
  --primary-color: #165a48;
  --secundary-color: #6B6B6B;
  --accent-color: #56DAB5;
  --background-color: #f0f0f0;
  --contrast-color: #fff;
  --popup-color: rgba(0, 0, 0, 0.7);

  --danger-color: #DB162F;
  --warning-color: #FC814A;
}

:root .dark-theme {
  --accent-color: #56DAB5;
  --background-color: #181818;
  --contrast-color: #000;
  --popup-color: rgba(255, 255, 255, 0.7);
}

*:not(.no-theme-transition) {
  transition: background-color 0.3s, color 0.3s;
}
