$primary-color: #165a48;
$secundary-color: #7209B7;

$danger-color: #DB162F;
$warning-color: #FC814A;

$dark-color: #000300;
$white-color: #FFFEFF;

// light colors
$primary-color-light: #51dab5;

$background-light: #f0f0f0;
